/*@import 'index.original.css';*/

/*.app redundant */
/*.app {
	left:1rem;
	top:1rem;
	height: 20vh;
	margin: 0 auto;
	padding: 0;
	position: inherit;
	background: none;
}*/

.navbar {
	/*min-height: 10vh;*/
	margin-bottom: 0;
}

.map-basic {
	height: 95vh;
	min-height: 400px;
	width: 100%;
	/*width: 100vw;*/
	margin: 0 auto;
}

/*.zg-top-content {
	height: 51px;
	background: #fff;
}*/

body {
	overflow-y: hidden;
}